@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
}

/* Styles for the specific container with the class "overflow-scroll" */
.overflow-y-scroll {
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */

  /* For WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #389fc8; /* Set the color of the thumb */
    border-radius: 3px; /* Optional: Add rounded corners to the thumb */
  }

  /* For Mozilla Firefox */
  scrollbar-width: thin; /* Set the width of the scrollbar */

  &::-moz-scrollbar-thumb {
    background-color: #389fc8; /* Set the color of the thumb */
    border-radius: 3px; /* Optional: Add rounded corners to the thumb */
  }
}

body {
  background: radial-gradient(
    circle,
    #081b29 0%,
    #081b29 70%,
    #173e56 140%,
    #173e56 150%
  );

  background: linear-gradient(to bottom, #081b29, #102e44, #173e56);

  color: var(--text-color);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
}

.navbar a {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 3.5rem;
}

.navbar a:hover {
  color: var(--main-color);
}

.active {
  color: var(--main-color);
}

#menu.icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  align-items: center;
  max-width: 100%;
  padding: 0 9%;
}

.home-content {
}

.home-content h1 {
  font-weight: 700;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
}

.home-content .text-animate h3 {
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.btn-box {
  position: relative;
  display: flex;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .btn-box .btn {
    width: 15rem;
    height: 90%;
    font-size: 1.5rem; /* Adjust the width as needed for smaller screens */
  }
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.gradient-conic {
  background: conic-gradient(
    from 0deg at 50% 50%,
    #081b29 0%,
    #081b29 12%,
    #173e56 50%,
    #081b29 75%,
    #081b29 100%
  );
  background: linear-gradient(to bottom, transparent, #173e56);
}

.about-img {
  border: 0.2rem solid var(--main-color);
}

span {
  color: var(--main-color);
}

.circle-spin {
  position: absolute;
  top: -2.5%;
  left: -2%;
  transform: translate(-50%, -50%) rotate(0);
  width: 105%;
  height: 105%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  animation: spin 2s infinite; /* Adjust the duration and timing function as needed */
}

.ed {
  border-left: 0.2rem solid var(--main-color);
}

.ed div {
  border: 0.2rem solid var(--main-color);
}

.precontent {
  position: relative;
  border-radius: 0.75rem;
}
.precontent::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  left: -3.75rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.date {
  color: var(--main-color);
  margin-bottom: 1.2rem;
}

.content {
  overflow: hidden;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1a405a;
  z-index: -1;
  transition: 1.5s;
}

.content:hover::before {
  width: 100%;
}

.toggle {
  overflow: hidden;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to bottom, #0d2b3e, rgb(31, 74, 101));
  z-index: -10;
  transition: 1.5s;
}

.toggle:hover::before {
  width: 100%;
}

.toggle {
  overflow: hidden;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to bottom, #0d2b3e, rgb(31, 74, 101));
  z-index: -10;
  transition: 1.5s;
}

.gg {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: var(white);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.ggs:hover .gg {
  transform: scale(1.4);
}

.ggs {
  position: relative;
  overflow: hidden;
}
.ggs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1a405a;
  z-index: 1;
  transition: 0.8s;
}

.ggs:hover::before {
  width: 100%;
}

.icons h1 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.icons p {
  margin-top: 0.7rem;
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .icons h1 {
    font-size: 2.7rem; /* Adjust the font size for smaller screens */
  }
  .icons p {
    font-size: 1.75rem;
  }
  .gg {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: var(white);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
  }
}
.abme {
  transform: rotate(0) scale(1); /* Initial state */
  animation: applyTransform 0.8s ease 0.2s forwards;
}

@keyframes applyTransform {
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

.posting {
  opacity: 0; /* Initial state, set to fully transparent */
  animation: fadeIn 0.4s ease 0.2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with full transparency */
  }
  100% {
    opacity: 1; /* End with full visibility */
  }
}

.fade-in {
  opacity: 0;
  /* Adjust the initial offset as needed */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateX(0);
}

.imagedet {
  position: relative;
  overflow: hidden;
}

.imagedet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #0d2b3e, rgb(31, 74, 101));
  text-align: center;
  padding-top: 9rem;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.8rem;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  z-index: 10;
  pointer-events: none;
}

.imagedet:hover::before {
  opacity: 1;
}

.posts {
  background: radial-gradient(
    circle,
    #1e547a 0%,
    #0e2f46 70%,
    #173e56 140%,
    #173e56 150%
  );

  border: 2px solid var(--main-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last value (0.5) for transparency */
  z-index: 99; /* Make sure the overlay is on top of other elements */
}
